@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #413b6b;
    font-family: "Oswald", serif;;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    margin: 0;
    width: 100vw;
    color: white;
}

.content{
    flex: 1;
}

header h1{
    text-align: center;
    color: white;
    margin: 30px;
}

footer{
    background-color: #5c65c0;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0px;
}

footer p a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: white;
    text-shadow: 1px 2px 5px black;
}

footer p a:hover{
    animation: colorRotate 1s linear 0s infinite;
    transition-duration: 0.5s;
    font-size: 17px;
}

#container #iframe1{
    margin: 20px;
    border-radius: 15px;
    border: 5px solid #373c79;
    width: 30vw;
    height: 50vh;
    display: inline-block;
}

#container #iframe2{
    width: 30vw;
    height: 50vh;
    position: absolute;
    margin: 20px;
    border-radius: 15px;
    border: 5px solid #373c79;
    left: 67.6%;
}

header{
    background-color: #5c65c0;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

p#direitadoiframe{
    margin: 20px;
    padding: 10px;
    border: 5px solid #373c79;
    background-color: #301c41;
    border-radius: 15px;
    display: inline-block;
    position: absolute;
    width: 30vw;
    height: 48vh;
    margin-left: 50px;
}

div#container{
    background-color: #5c65c0;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

div#backgroundimg{
    background-color: #5c65c0;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    height: 300px;
    padding: 20px;
    animation: borderRotate 1s linear 0s infinite;
    background-image: url(img123.jpeg);
    background-position-x: 50%;
    background-position-y: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: rotate-border 3s infinite;
    border: 5px solid rgb(255, 255, 255);
    overflow: hidden;
}

div#backgroundimg h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 3em;
    text-shadow: 1px 2px 5px black;
}

@keyframes colorRotate{
    from {
    color: #6666ff;
    }
    10% {
    color: #0099ff;
    }
    50% {
    color: #00ff00;
    }
    75% {
    color: #ff3399;
    }
    100% {
    color: #6666ff;
    }
}

@keyframes rotate-border {
    0% {
    border-color: rgba(255, 0, 0, 0.281);
    }
    25% {
    border-color: rgba(0, 0, 0, 0.683);
    }
    50% {
    border-color: rgba(96, 0, 0, 0.833);
    }
    75% {
    border-color: rgba(0, 0, 0, 0.636);
    }
    100% {
    border-color: rgba(255, 0, 0, 0.478);
    }
}