@charset "UTF-8";

/* Estilo para impressoras */

*{
    padding: 10px;
    margin: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace; /* Fontes para impressoras, facil de se ler */
    font-size: 1em;
    line-height: 1.5em;
}

menu{
    display: none;
}

article::after {
    content: 'Esse artigo foi impresso através de obx';
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight: bolder;
    font-style: italic;
}

article{
    width: 100%;
}